<!DOCTYPE html>
#{extends 'main.html' /}
#{set title:'Home' /}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introdueixi les dades</title>
</head>
<body>
    <meta charset="UTF-8">
    <h1>Introdueixi les dades del cantant a la base de dades</h1>
    <br><br><br><br><br><br><br>


    <form action="@{Application.SuccessCantant()}" method="POST">
        <h5>Introdueixi el nom del cantant</h5>
        <input type="text" name="n" />
        <br><br>
        <h5>Introdueixi el pais del cantant</h5>
        <input type="text" name="p" />
        <br>
        <input type="submit" value="Introdueix" />
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="@{home()}">Tornar a la pàgina d'inici</a>
</body>